* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: cadetblue;
    height: 100vh;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email-container, .email-container-second {
    width: 1000px;
    margin-top: 50px;
}

.email-container > h1, .email-container-second > h1 {
    color: #9e4b0c;
}

.email-container ul > li > p,
.email-container-second ul > li > p {
    margin: 10px;
    font-size: 25px;
    color: #005600;
}
